Debug/
.exe
.obj
.lib
.dll
=======
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

FlyMe/Migrations/
FlyMe/obj/Debug/
FlyMe/bin/Debug/

.vs/

.vs/FlyMe/v15/.suo
.vs/FlyMe/v15/Server/sqlite3/storage.ide-shm
