Debug/
.exe
.obj
.lib
.dll
=======
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlyMe/Migrations
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.csproj.CoreCompileInputs.cache
.vs/FlyMe/v15/Server/sqlite3/storage.ide-shm
.vs/FlyMe/v15/.suo
FlyMe/bin/Debug/netcoreapp2.1/FlyMe.dll
FlyMe/bin/Debug/netcoreapp2.1/FlyMe.pdb
FlyMe/bin/Debug/netcoreapp2.1/FlyMe.Views.dll
FlyMe/bin/Debug/netcoreapp2.1/FlyMe.Views.pdb
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.csproj.FileListAbsolute.txt
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.dll
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.pdb
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.RazorCoreGenerate.cache
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.Views.dll
FlyMe/obj/Debug/netcoreapp2.1/FlyMe.Views.pdb
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airplanes/Create.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airplanes/Delete.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airplanes/Details.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airplanes/Edit.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airplanes/Index.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airports/Create.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airports/Delete.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airports/Details.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airports/Edit.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Airports/Index.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Users/Create.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Users/Delete.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Users/Details.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Users/Edit.g.cshtml.cs
FlyMe/obj/Debug/netcoreapp2.1/Razor/Views/Users/Index.g.cshtml.cs
