@model IEnumerable<FlyMe.Models.Airport>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800"
          rel="stylesheet"
          type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <header>
        <title>
            Flyme
        </title>
    </header>
</head>


<body>
    <header font-family="CardoBold">
        <h1>
            Flyme - The best experince you can get in the sky
        </h1>
    </header>
    <div class="row">
        <div class="column left">

            <article>
                <header>
                    <h2>Get Updated with our  sales on our Twitter page</h2>
                </header>
                <a class="twitter-timeline" data-lang="en" data-width="550" data-height="500" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/DollarFlights?ref_src=twsrc%5Etfw">Tweets by DollarFlights</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


                <a href="https://twitter.com/DollarFlights?ref_src=twsrc%5Etfw"
                   class="twitter-follow-button" data-show-count="false">
                    Follow nanaS
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                </script>

            </article>

        </div>
        <div class="column right">

            <section>
                <figure>
                    <video width="600" height="450" controls autoplay>
                        <source src="~/images/PARADISE - PHILIPPINES TRAVEL - GOPRO TRIP.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <figcaption>Get yourself to paradise</figcaption>
                </figure>
            </section>

            <!-- Bing Map Which is showing all of the airports from the database -->
            <section id="myMap" style="padding: 2px; width: 600px; height: 450px; margin-left:100px;">
                <script type='text/javascript'
                        src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'
                        async defer>
                </script>
                <script type='text/javascript'>

                    var map;

                    function GetMap() {
                        map = new Microsoft.Maps.Map('#myMap', {
                            credentials: 'AsYxj9oP7Drg1hmS86jOLLLtiemAKHzT-qQk5HE30VqKNjzYtwA_0EtKqSDKj-WC',
                            center: new Microsoft.Maps.Location(48.13641, 11.57754)
                        });

                        $.ajax({
                            url: '/home/AirportLocations',
                            success: function (result) {
                                var usersData = result;

                                addLocationsToMap(usersData);
                            },
                            error: function (hxr, status, err) {
                                console.log('status: ' + status + ', error: ' + err);
                            }
                        });


                        function addLocationsToMap(AirportLocations) {

                            //var map = new Microsoft.Maps.Map('#myMap', {
                            //    credentials: 'AsYxj9oP7Drg1hmS86jOLLLtiemAKHzT-qQk5HE30VqKNjzYtwA_0EtKqSDKj-WC',
                            //    center: new Microsoft.Maps.Location(48.13641, 11.57754)
                            //});

                            AirportLocations.forEach(function (element) {

                                //Create custom Pushpin
                                var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(element.longitude, element.latitude), {
                                    text: element.acronyms
                                });

                                //Add the pushpin to the map
                                map.entities.push(pin);
                            })
                        }
                    }
                    
                </script>


            </section>
        </div>


    </div>
    <div class="weather">
        <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/"
           data-label_1="TEL AVIV-YAFO"
           data-label_2="WEATHER"
           data-theme="original">
            TEL AVIV-YAFO WEATHER
        </a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }
                (document, 'script', 'weatherwidget-io-js');
        </script>
    </div>
</body>
</html>