@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800"
          rel="stylesheet"
          type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/css/styles.css">


    <header>
        <title>
            Flyme - the best expiriance you can get in the sky
        </title>
    </header>
</head>


<body>
    <div class="row">
        <div class="column left">
            <header font-family="CardoBold">
                <h1>
                    Flyme - The best expiriance you can get in the sky
                </h1>
            </header>
            <article>
                <header>
                    <h5>Tweets by lalala</h5>
                </header>
                <a class="twitter-timeline" href="https://twitter.com/traveldiarie" data-widget-id="618673066764144641"></a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

                <p>
                    The movie earned $87 million during its initial release.
                </p>

            </article>
        </div>
        <div class="column right">

            <section>
                <figure>
                    <video width="600" height="450" controls autoplay>
                        <source src="~/images/PARADISE - PHILIPPINES TRAVEL - GOPRO TRIP.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <figcaption>Get yourself to paradise</figcaption>
                </figure>
            </section>

            <!-- Bing Map Which is showing all of the airports from the database -->
            <section id="myMap" style="padding: 2px; width: 600px; height: 450px; margin-left:100px;">
                <script type='text/javascript'
                        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'
                        async defer>
                </script>
                <script type='text/javascript'>
                    function GetMap() {
                        var map = new Microsoft.Maps.Map('#myMap', {
                            credentials: 'AsYxj9oP7Drg1hmS86jOLLLtiemAKHzT-qQk5HE30VqKNjzYtwA_0EtKqSDKj-WC',
                            center: new Microsoft.Maps.Location(48.13641, 11.57754)
                        });

                        var center = map.getCenter();

                        //Create custom Pushpin
                        var pin = new Microsoft.Maps.Pushpin(center, {
                            title: 'Microsoft',
                            subTitle: 'City Center',
                            text: '1'
                        });

                        //Add the pushpin to the map
                        map.entities.push(pin);
                    }
                </script>
            </section>
        </div>

    </div>

</body>
</html>