body {
    background-color: #ecf2f9;
	text-align: center;
}

header {
    text-align: center;
     padding: 20px; 
}

h1 {
    color: navy;
     margin-left: 20px; 
}

footer {
	text-align: left;
	 padding: 20px; 
}

.column {
    float: left;
}

.column.left {
  width: 40%;
}

.column.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



@media screen and (max-width: 1080px) {
    .column.left, .column.right {
        width: 100%;
    }
}

@font-face {
	font-family: CardoBold;
	src: url(C:\Users\Ruti Kevesh\Desktop\Final project - FlyMe\FlyMe\FlyMe\Fonts\Cardo-Bold.ttf));
			
}

.login {
    padding: 2em;
    width: 50%;
    margin: 0 auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}