@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>

<section id="popular-airports-graph">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <body>
        <h3>Lets see which is the most popular airport</h3>
        <div style="align-content:center">
            <svg1 />
         </div>
    </body>
    <script type='text/javascript'>
        $.ajax({
            url: '/Statistics/StatsGraph',
            success: function (result) {
                var data = result;
                createPopularAirportsGraph(data, "popular-airports-graph");
            },
            error: function (hxr, status, err) {
                console.log('status: ' + status + ', error: ' + err);
            }
        });

        $.ajax({
            url: '/Statistics/StatsPie',
            success: function (result) {
                var pieData = result;
                createPopularAirportsPie(pieData, "popular-airports-graph");
            },
            error: function (hxr, status, err) {
                console.log('status: ' + status + ', error: ' + err);
            }
        });

        function createPopularAirportsGraph(userData, id) {

            console.log(userData);
            var margin = { top: 20, right: 20, bottom: 70, left: 40 },
                width = 600,
                height = 300;

            // set the ranges
            var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
            var y = d3.scale.linear().range([height, 0]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left")
                .ticks(10);

            // add the SVG element
            var svg = d3.select("#" + id).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // load the data
            userData.forEach(function (d) {
                d.airportAcronims = d.airportAcronims;
                d.numberOfVisitors = +d.numberOfVisitors;
            });


            // scale the range of the data
            x.domain(userData.map(function (d) { return d.airportAcronims; }));
            y.domain([0, d3.max(userData, function (d) { return d.numberOfVisitors; })]);
            
            // add axis
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.55em")
                .attr("transform", "rotate(-90)");

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0)
                .attr("dy", "1em")
                .style("text-anchor", "end")
                .text("NumberOfVisitors");

            console.log("im fine");

            // Add bar chart
            svg.selectAll()
                .data(userData)
                .enter()
                .append("rect")
                .attr("class", "bar")
                .attr("x", function (d) { return x(d.airportAcronims) + 10; })
                .attr("width", x.rangeBand() / 2)
                .attr("y", function (d) { return y(d.numberOfVisitors); })
                .attr("height", function (d) { return height - y(d.numberOfVisitors); });

        }

        function createPopularAirportsPie(userData, id) {

            var width = 400,
                height = 400,
                radius = Math.min(width, height) / 2;

            var color = d3.scale.ordinal()
                .range(["#a05d56", "#6b486b", "#ff8c00", "#98abc5", "#8a89a6", "#d0743c", "#7b6888"]);

            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var pie = d3.layout.pie()
                .sort(null)
                .value(function (d) { return d.numberOfVisitors; });

            var svg = d3.select("#" + id).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            userData.forEach(function (d) {
                d.numberOfVisitors = +d.numberOfVisitors;
            });

            var g = svg.selectAll(".arc")
                .data(pie(userData))
                .enter().append("g")
                .attr("class", "arc");

            g.append("path")
                .attr("d", arc)
                .style("fill", function (d) { return color(d.data.airportAcronims); });

            g.append("text")
                .attr("transform", function (d) { return "translate(" + arc.centroid(d) + ")"; })
                .attr("dy", ".35em")
                .style("text-anchor", "middle")
                .text(function (d) { return d.data.airportAcronims; });
        }
    </script>
</section>
