
@{
    ViewData["Title"] = "FailedLougout";
    Layout = "~/Views/Orders/Index.cshtml";
}

<h2 style="text-align:center">Logout Failed</h2>
<div class="container-fluid">
    <div class="card">
        please check your login details and try again
        <br />
    </div>
</div>




